# Android platform-tools y drivers (no versionar binarios grandes)
platform-tools/
usb_driver/
mtkclient/
*.zip

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# OS / editor
.DS_Store
Thumbs.db
.idea/
.vscode/
